<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kazan">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Kazan Neft"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".AvtEditWell"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".AvtAddWell"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AvtWellManager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AvtHistoryTransfer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AvtAssetTranfer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AvtEditAsset"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AvtAddAsset"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AvtAssetManagement"
            android:label="Asset Management"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AvtMenu"
            android:label="Menu"
            android:theme="@style/Theme.AppCompat.Light"></activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>